<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ironhack Twitter</title>
</head>
<body>
  <div id="container">
    <img src="/images/twitter-logo.png" 
         class="header-logo">
    <% if(user) { %>
      <p>
        Welcome, <%= user.username %>!
      </p>
      <form action="/logout" method="POST" id="logout-form">
        <button>Log out</button>
      </form>
    <% } %>

    <%- body %>

  </div>
</body>
</html>