<div class="container">
  <a href="/tweets/new">New tweet</a>

  <h2>Tweets of @<%= user.username %></h2>

  <% tweets.forEach((tweet) => { %>
    <div class="tweet-container">
      <p class="author">
        @<%= tweet.user_name %>
      </p>
      <p class="tweet">
        <%= tweet.tweet %>
      </p>
      <p class="date">
        <%= moment(tweet.created_at).format("LL, LTS") %>
      </p>
    </div>
  <% }) %>
</div>
